DB_HOST=db
DB_NAME=transactiwar
DB_USER=twuser
DB_PASS=replace_with_a_long_random_password
MYSQL_ROOT_PASSWORD=replace_with_a_different_long_random_password
APP_SECRET=replace_with_64_or_more_hex_characters
TRUST_PROXY_HEADERS=0